<div class="container border border-success rounded-3">
  <div class="row text-center" style="margin-left:2rem; margin-right:6rem; padding_top:5rem;">
    <h4 class="text-center">Comments:: <%= @article.comments.all.length %> </h4>
    <% if @article.comments.all.length > 0 %>
      <% @article.comments.each do |comment| %>
        <% # <br> %>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <div class="card-title">
                <strong>Author::</strong>
                <%= comment.commenter %>
              </div>
            </div>
            <div>
              <div class="card-text">
                <strong>Comment:</strong> <%= comment.body %>
              </div>
              <br/>
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <%= link_to 'Delete', [comment.article, comment],
              method: :delete,
              data: { confirm: "Are you sure?" } , class:"btn btn-outline-danger me-md-2"%>
              </div>
            </div>
            <br/>
          </div>
          <br/>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<br/>
